*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    /* background-color: #130013; */
     background: rgb(3,2,12);
background: linear-gradient(90deg, rgba(3,2,12,1) 0%, rgba(82,57,117,1) 81%, rgba(4,0,12,1) 100%); 
}


